<div class="illustration" style="background-image:url({{illustration.url}})"></div>

<div class="article {{#if color}}article-color-{{color}}{{/if}}">
  <div class="article-title-container">
    <div class="article-title">
      <div>
        {{{title}}}
        <p>
          {{#if author}}{{{author.name.first}}}, {{/if}}{{date date}}
        </p>
      </div>
    </div>
  </div>

  <div class="article-content-container">
    <div class="article-content">
      {{{content}}}
    </div>
  </div>
</div>
