<h1 class="main-title">Farewell...</h1>

{{#each articles}}
  <div id="{{reference.type}}-{{reference.id}}" class="article-summary {{classes}}"{{{attributes}}}>
    <div class="illustration" style="{{illustrationStyle}}')"></div>
    <div class="summary" style="{{summaryStyle}}">
      {{#if isNew}}
      <div class="article-new fa fa-star tooltip" title="Tout neuf !"></div>
      {{/if}}
      {{{title}}}
      <div class="date">
        {{{author.name.first}}}{{date date}}
      </div>
      <div class="description">
        {{{description}}}
        <button type="button" class="btn" data-article-id="{{reference.id}}">Lire la suite...</button>
      </div>
    </div>
  </div>
{{/each}}
