<div class="current-map">
  <img class="map" src="{{current.image.url}}"/>
  {{#each coordinates}}
    {{#if withInput}}
    <div data-name="{{name}}" class="{{type}} {{type}}-{{name}}"></div>
    {{/if}}
  {{/each}}
</div>

<div class="current-values">
  <ul>
    {{#each coordinates}}
      {{#if withInput}}{{#if isLatitude}}
      <li><span>{{name}}:</span><input class="value value-{{name}}"/></li>
      {{/if}}{{/if}}
    {{/each}}
  </ul>

  <ul>
    {{#each coordinates}}
      {{#if withInput}}{{#if isLongitude}}
      <li><span>{{name}}:</span><input class="value value-{{name}}"/></li>
      {{/if}}{{/if}}
    {{/each}}
  </ul>
</div>
